<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874272025612-g2a4gknfv5g90cjfu4vo68e3pjus1gbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874272025612-g2a4gknfv5g90cjfu4vo68e3pjus1gbc</string>
	<key>API_KEY</key>
	<string>AIzaSyBIaEHEmkfjxSS2I7MYDdaZTxOF7JH15D8</string>
	<key>GCM_SENDER_ID</key>
	<string>874272025612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>avi.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d0fed</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d0fed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874272025612:ios:e2f22a98c3f597471e9229</string>
</dict>
</plist>